* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    text-align: center;
}

h1 {
    padding: 40px;
    background-color: #cf9963;
    color: white;
    font-family: math;
}

.canKartlari {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    background: bisque;
    padding: 60px 40px;
    max-width: max-content;
    margin: 20px auto;
    border-radius: 20px;
}

.bar {
    border: 1px solid gray;
    height: 30px;
    max-width: 100%;
    width: 300px;
    border-radius: 20px;
    margin: 6px auto;
}

.barValue {
    background: #1ea723;
    height: 100%;
    border-radius: 20px;
    width: 100%;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background: bisque;
    padding: 40px 20px;
    max-width: max-content;
    text-align: center;
    margin: 20px auto;
    border-radius: 20px;
}

button {
    padding: 8px 24px;
    font-size: medium;
    border-radius: 20px;
    background: orangered;
    color: white;
}

button:hover{
    background-color: darkorange;
}

button:disabled{
    background-color: gray;
    color: black;
}

.superSaldiri {
    background-color: darkred;
}
.canEkle {
    background-color: green;
}

.sonuclar {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 200px;
    gap: 10px;
    background: bisque;
    padding: 20px 20px;
    margin: 20px auto;
    border-radius: 20px;
}

.alertDialog {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 2;
}
.alert {
    background: white;
    padding: 16px 20px;
    border-radius: 20px;
    max-width: 1020px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;;
}

.alert h3 {
  margin: 0 0 8px;
  font-size: 18px;
}

.alert button {
  padding: 8px 14px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

